Web/Connected Services/ServiceReference1/Dedicaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDedication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDedicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDedicationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDedicationSoapIn">
    <wsdl:part name="parameters" element="tns:getDedication" />
  </wsdl:message>
  <wsdl:message name="getDedicationSoapOut">
    <wsdl:part name="parameters" element="tns:getDedicationResponse" />
  </wsdl:message>
  <wsdl:portType name="DedicacionesSoap">
    <wsdl:operation name="getDedication">
      <wsdl:input message="tns:getDedicationSoapIn" />
      <wsdl:output message="tns:getDedicationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DedicacionesSoap" type="tns:DedicacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDedication">
      <soap:operation soapAction="http://tempuri.org/getDedication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DedicacionesSoap12" type="tns:DedicacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDedication">
      <soap12:operation soapAction="http://tempuri.org/getDedication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dedicaciones">
    <wsdl:port name="DedicacionesSoap" binding="tns:DedicacionesSoap">
      <soap:address location="http://localhost:52733/Dedicaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="DedicacionesSoap12" binding="tns:DedicacionesSoap12">
      <soap12:address location="http://localhost:52733/Dedicaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>